<head><link
    rel='stylesheet'
    type='text/css'
    hs-webfonts='true'
    href='https://fonts.googleapis.com/css?family=Lato|Lato:i,b,bi'
  />
  <title>Email template</title>
  <meta property='og:title' content='Email template' />

  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

  <meta http-equiv='X-UA-Compatible' content='IE=edge' />

  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <style type='text/css'>

    a{ text-decoration: underline; color: inherit; font-weight: bold; color:
    #253342; } h1 { font-size: 56px; } h2{ font-size: 28px; font-weight: 900; }
    p { font-weight: 100; } td { vertical-align: top; } #email { margin: auto;
    width: 600px; background-color: white; } button{ font: inherit;
    background-color: #FF7A59; border: none; padding: 10px; text-transform:
    uppercase; letter-spacing: 2px; font-weight: 900; color: white;
    border-radius: 5px; box-shadow: 3px 3px #d94c53; } .subtle-link { font-size:
    9px; text-transform:uppercase; letter-spacing: 1px; color: #CBD6E2; } .des{
    font-size: 18px; font-weight: 100; } .des span{ font-weight: 900; }
  </style>

</head>

<body
  bgcolor='#F5F8FA'
  style='width: 100%; margin: auto 0; padding:0; font-family:Lato, sans-serif; font-size:18px; color:#33475B; word-break:break-word'
>
  <table role='presentation' width='100%'>
    <tr>

      <td
        align='center'
        style='color: white; padding-top: 100px;background-image: linear-gradient(to right,#67e395,#16a34a);'
      >
        {{! <img
          src='https://freshfood.lalo.com.vn/logo.png'
          alt='logo'
          style='border: 3px solid #ffffff; border-radius: 30px;'
        /> }}

        <h1 style='padding-left: 10px;padding-right: 10px'>Welcome to Fresh Food
          🥬</h1>

      </td>
    </tr>
  </table>

  <div id='email'>

    <table
      role='presentation'
      border='0'
      cellpadding='0'
      cellspacing='10px'
      style='padding: 30px 30px 30px 60px;'
    >
      <tr>
        <td>
          <h2> Hello {{name}}, </h2>
          <p>
            <p class='des'>{{content}}</p>
          </p>
          {{! <button>
            Button 1
          </button> }}
        </td>
      </tr>
    </table>

    <table
      role='presentation'
      bgcolor='#EAF0F6'
      width='100%'
      style='margin-top: 50px;'
    >
      <tr>
        <td align='center' style='padding: 30px 30px;'>

          <h2>Fresh Food</h2>
          <p>
            Our innovative platform ensures transparency, traceability, and
            trust throughout the entire food supply chain. From farm to fork, we
            provide a secure and reliable solution that benefits consumers,
            producers, and all stakeholders involved.

          </p>
          <a href='https://freshfood.lalo.com.vn'>Visit FreshFood</a>
        </td>
      </tr>
    </table>

    <table role='presentation' bgcolor='#F5F8FA' width='100%'>
      <tr>
        <td align='left' style='padding: 30px 30px;'>
          <p style='color:#99ACC2'> Made with ❤️ at HCMUTE </p>
        </td>
      </tr>
    </table>
  </div>
</body>